#mainMenu div {
    background: lightgrey;

    height: 50px;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    line-height: 2em;
    margin-bottom: 1000px;
}


/* Temporary Atrributes */
#mainMenu div.active {
    background: lightblue;
}